@model TeaShop.Models.Product

@{
    ViewData["Title"] = "Details";
}
<section class="bg-light">
        <div class="container pb-5">
            <div class="row">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                    <img src=" @Url.Content("~/images/"+Model.PhotoId+".jpg")" style="width:100%; height:100%"  alt="" id="product-detail"/>
                    </div>
                   
                </div>
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4>Cena:</h4>
                             <p class="h3 py-2">@Html.DisplayFor(model => model.Price) zł</p>
                            
                            <p>@Html.DisplayFor(model => model.Description)</p>

                            <h5>Waga:</h5>
                            <p>@Html.DisplayFor(model => model.Weight) gr</p>

                            <h5>Kategoria:</h5>
                            <p> @Html.DisplayFor(model => model.Category.CategoryName)</p>

                            <h5>Stan:</h5>
                            <p>@Html.DisplayFor(model => model.Amount) sztuk</p>

                            <form action="" method="GET">
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                    <a class="btn btn-success text-white mt-2" onclick="add(@Html.DisplayFor(model => model.Id))" style="width:50; height:50" />Dodaj do koszyka</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

@section Scripts{
    <script>
        async function add(productId) {

            try {
                var response = await fetch(`/Cart/AddItem?productId=${productId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;

                }
            }
            catch
            {
                alert("Zaloguj się");
            }



        }
    </script>

}