@model IEnumerable<TeaShop.Models.Product>


<div class="col-lg-9">
    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model){
            <div class="col-md-4">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="@Url.Content("~/images/"+item.PhotoId+".jpg")" width="50" height="50">
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-success text-white mt-2" onclick="add(@Html.DisplayFor(modelItem => item.Id))"><img src="@Url.Content("~/images/carticon.png")" width="50" height="50" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="text-center mb-0">@Html.DisplayFor(modelItem => item.Name)</p>
                        <p class="text-center mb-0">Cena: @Html.DisplayFor(modelItem => item.Price) zł</p>
                    </div>

                </div>
                <div class="text-center">
                    <a class="btn btn-success text-white mt-2 " href="/Product/Details/@Html.DisplayFor(modelItem => item.Id)" style="width:50; height:50">Szczegóły produktu</a>
                </div>
            </div>
        }    
         
    </div>
            
</div>

@section Scripts{
    <script>
        async function add(productId){

            try {
                var response = await fetch(`/Cart/AddItem?productId=${productId}`);
                if (response.status == 200) 
                {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;

                }
            }
            catch
            {
                alert("Zaloguj się");
            }

       
                
        }
    </script>

}